#branding{
	background: #333;
	zoom: 1;
	position: relative;
	left: 0px;
}

#box{
	background: #414141;
}

.bar{
	background: #606060;
}

.shadow{
	left: 0px;
}

.submitted{
	background: #353535;
}

.links{
	background: #636363;
}

ul.links{	
	background: #636363;
}

.taxonomy{
	background:#e7e7d6; 
}

.field-type-taxonomy-term-reference .field-label{
	background: none;
}

#comments h2{
	background: none;
}