/*-------- general -------*/

* {margin:0;padding:0;} 

html{height: 100%;}

body{
	font-family: Helvetica, Arial, sans-serif;
	font-size:14px;
	background-color:#000;
	background-image: url('images/grayfuzzdark.gif');
	height: 100%;
	line-height: 140%;
}

a {
  color: #ccc;
  text-decoration: none;
}

a:hover {
  color: #a2a2a2;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 105%;
	margin-bottom: 5px;
}

h1,
h1 a {
	font-size: 62px;
  text-decoration: none;
	color: #fff;
	padding: 30px 0px 0px 0px;
	font-family: Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	line-height: 70%;
}

h2,
h2 a{
	font-size: 25px;
  text-decoration: none;
	font-family: Verdana, Arial, sans-serif;
	margin-bottom: 15px;
	color: #fff;
}

h3,
h3 a {
	font-size: 25px;
    text-decoration: none;
}

h4,
h4 a {
	font-size: 20px;
    text-decoration: none;
}

h5,
h5 a {
	font-size: 18px;
    text-decoration: none;
}

h6,
h6 a {
	font-size: 15px;
    text-decoration: none;
}

/*-------- main layout elements -------*/

#top{
	width: 100%;
	background-color: #222;
	color: #666;
	height: 60px;
	padding-top: 20px;
}

.fixed{
	width: 1020px;
	margin: 0 auto;
}

#branding{
	color: #fff;
	padding: 0px 55px;
	margin: 10px -30px 0px -30px;
	height: 110px;
	background: url('images/20black.png') repeat scroll transparent; /* fallback */
	background: rgba(0,0,0,0.2);
	border: 1px solid #222;
}

.shadow{
	background-image: url('images/shadow.png');
	height: 20px;
	margin: 0px -30px -20px -30px;
	position: relative;
}

#box{
	clear:both;
	position:relative;
	background: url('images/10white.png') repeat scroll transparent; /* fallback */
	background: rgba(255,255,255,0.1);
	border: 8px solid rgb(82,82,82); /* fallback */
	border: 8px solid rgba(255,255,255,0.1);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 30px 0px 20px 0px;
}

#main-menu{
	float: left;
	width: 700px;
	font-size: 18px;
}

#main-menu ul{
	list-style:none; 
	background:none;
}

#main-menu-links a{color: #fff;}

#main-menu-links a:hover{color: #999;}

#main-menu ul li{
	display: inline;
	margin-right: 15px;
}

#block-system-main-menu h2{visibility: hidden;}

#main{
	position:relative;
	width: auto;
	height: 100%;
	overflow: hidden;
}

#content{
	color: #fff;
	font-size: 100%;
	padding: 20px;
	height: 100%;
}

#boxbottom{
	background-color: #222;
	color: #fff;
	clear: both;
	padding: 15px 20px 10px 20px;
	text-align:center;
}

#middle{
	position: relative;
	clear: both;
	background-color: #222;
	color: #fff;
	padding: 30px;
	border: 1px solid rgba(255,255,255,0.1);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 20px;
}

/*-------- thanks to Steve Hatcher, http://www.cssstickyfooter.com/ -------*/

#wrap{min-height: 100%;}

#allbutfooter{
	overflow: auto;
	padding-bottom: 200px;
}

#footer{
	position: relative;
	margin-top: -200px;
	height: 185px;
	clear: both;
	width: 100%;
	background-color: #222;
	color: #666;
	text-align:right;
	font-size: 16px;
	line-height: 125%;
	border-top: 1px solid #333;
	padding-top: 15px;
}

/*-------- branding elements -------*/

#logo{
	float:right;
	padding-top: 5px;
}

#sitename a{
	text-shadow:5px 5px 20px #000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#305052')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#305052');
}

/*-------- sidebars -------*/

.bar{
	color: #fff;
	padding: 30px 20px;
	float:right;
	border-left: 2px solid #333;
	border-bottom: 4px solid #222;
	border-right: 1px solid #777;
	background: url('images/10white.png') repeat scroll transparent; /* fallback */
	background-color: rgba(255,255,255,0.1);
	margin-right: 10px;
	margin-bottom: 10px;
	position:relative;
	height:100%;
	width: 190px;
}

/*-------- body classes ------*/

body.one-sidebar #content {
	width: 690px;
	padding: 20px;
	position: relative;
	float:left;
}

body.two-sidebars #content {
	width: 440px;
	padding: 20px;
	position: relative;
	float:left;
}

/*-------- search -------*/

#search{
	position:relative;
	padding: 10px 0px;
	float:right;
}

#search-block-form{
	width: 200px;
	float: right;
	margin-right: -45px;
}

#search-block-form input.form-submit,
#search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 32px;
  width: 32px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  text-transform: capitalize; /* make text indent work in ie */
	border: 0;
  background: url('images/search.png') no-repeat center top;
  overflow: hidden;
}

/*-------- nodes and common elements -------*/

.node, .node-teaser{
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.node-teaser{border-bottom: 1px dashed #888;}

.content img{
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.content h2{margin-bottom: 10px;}

p{margin-bottom: 10px;}

ul.pager{
	padding-top: 20px;
	font-size: 14px;
}

.more-link{
	margin-bottom: 10px;
}

.feed-icon{
	background:url('images/feed.png') no-repeat;
}
/*-------- blocks -------*/

#block-system-powered-by{padding: 15px 0px;}

#block-node-recent .content {
	margin-left: -20px;
	width: 236px;
}

#block-node-recent .title-author{
	padding: 20px;
}

.block h2{
	font-size: 24px;
}

.bar .block {margin-bottom: 25px;}

/*-------- meta styles -------*/

.submitted{
	background: url('images/20black.png') repeat scroll transparent; /* fallback */
	background: rgba(0,0,0,0.2);
	padding: 5px 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #fff;
	margin-bottom: 10px;
}

.user-picture{clear: both;}

/*-------- link styles -------*/

.links{
	background: url('images/20white.png') repeat scroll transparent; /* fallback */
	background: rgba(255,255,255,0.2);
	padding: 5px;
	margin: 5px 0px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.links a{
	color: #000;
}

ul.links{	
	background: url('images/0.png') repeat scroll transparent; /* fallback */
	background: rgba(255,255,255,0.0);
}

.link-wrapper a{color: #999;}

.link-wrapper a:hover{color: #fff;}


/*-------- taxonomy and tags -------*/

.taxonomy{
	background:#e7e7d6 url('images/tag.png') no-repeat top left;
	padding:0.3em 0.6em; 
	border:1px dashed #fff; 
	margin-top:5px;
} 

.field-name-field-tags .field-item{
	display:inline;
	padding: 0px 10px 0px 0px;
}

.field-name-field-tags .field-item a{
	background-color: #eee;
	color: #000;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.field-name-field-tags .field-items{
	margin-bottom:10px;
}

.field-name-field-tags .field-item a:hover{
	background-color: #000;
	color: #fff;
}
.field-type-taxonomy-term-reference .field-label{
	color: #eee;
	text-transform: uppercase;
	margin:15px 0px 8px 0px;
	padding-left: 23px;
	font-size: 14px;
	background: url('images/tag.png') no-repeat;
	clear: both;	
}
/*-------- tables -------*/

table tr td{
  background-color:#222;
	color: #fff;
	padding: 10px;
}
/*-------- comments -------*/
#comments{margin-top: 40px;}

#comments h2{
	background: url('images/chat.png') no-repeat;
	padding: 0px 0px 10px 35px;
	margin-bottom: 10px;
	border-bottom: 1px solid #999;
}

#comments ul.links a{color: #fff;}

#comments ul.links a:hover{color: #333;}

.comment{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #888;
}

/*-------- forms -------*/
input, select, textarea, button {
  font-family: Helvetica, Arial, sans-serif;  
}

textarea.form-textarea, textarea {
  background-color: #fff;
  border: solid 1px #666;
  padding: 10px;
}

button,
input[type=submit],
input.form-submit,
.form-actions a,
.form-actions a:visited,
.button, a.button, a.button:visited {
  background: #eee;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  border-right-color: #ccc;
  color: #333;
  font-size: 13px;
  padding: 4px;
  margin: 4px;
  overflow: hidden;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}